body{
    margin: auto;
    background-image: url("https://i.ibb.co/y0Hr1Z8/main.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
/* Header */

header{
    height: 50px;
    color: #e40813;
    border: 2px ;



}
.icon{
    float: left;
}
.icon > h1{
    margin: 5%;
}
button{

    color: antiquewhite;
    height: 40px;
    width: 55%;
    border:solid 0.2px #b61010;
    
}
.lang{
    background-color: black;
    margin-left: -120%;
    color: white;
    font-size: 32px;
    margin-top: 2%;
    
}
.login{
    color: white;
    background-color: #e50914;
    padding:18px;
    
}
.social{
    
    float: right;
}
.social > login{
    margin top:10%;
}



.search{
    height: 500px;
    border: 1px solid;


}
.quicksearch{
    height: 150px;
    border: -1px solid;
}
#searchtext{
    font-size: 70px;
    margin-left:29%;
    margin-top: 8%;
    position: absolute;
    color: white;


}
#dropdown{
    height: 40px;
    width: 50%;
    margin-left: 25%;
    margin-top: 26%;
    position: absolute;
    border:2px solid rgb(20, 20, 19)

}
#txtsearch{
    height:35px;
    width:79%;
    font-size: 15px;
}
#go{
    width:20%;
    float: right;
    margin-top: -41px;
    background-color: #b61010;
}
/*Footer*/
.footer{
    font-size: 40px;
    color: antiquewhite;
    text-align: center;
}
.quicksearch{
    font-size: 30px;
    color: white;
    text-align: center;
}
